@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Assistant&family=Poppins:wght@900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    color: white;
   
    text-decoration: none;
  
}

.back-video{
    
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
 
   
    width: 100%;
}
.top{
    margin-top: -150px;
}
a{
  
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 5px;
    position: relative;
}
.navbar .logo .img{
    width: 80px;
    transition: 3s;
}
.navbar .logo .img:hover{
    transform: rotate(90deg);
    transition: 3s;
    width: 100px;
}
.language a:hover{
    transition: 01s;
    font-size: 23px;

}
.language a span:hover::after{
    width: 100%;
    transition: 1s;
}
.language a span::after{
    content: '';
    width: 0;
    height: 3px;
    background-color:white ;
    position: absolute;
    left: 0;
    bottom: 80px;

}
.logo{
    margin-top: 150px;
    margin-left: 50px;
}
.language{
    margin-top: 150px;
    display: flex;
    margin-right: 50px;
    font-size: 20px;

}
.navbar{
    margin-top: 40px;

    width: 100%;
    /* height: 100px; */
    display: flex;
    justify-content: space-between;
}


/* *********************************************** Center *************************************************** */
.top .center{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.top .center .text{
    
}
.top .center .social-media {
  display: block;
  font-size: 30px;
  margin-right: 50px;
  

}
i{
    color: white;
    padding: 5px;
}
.top .center .social-media .instagram{
    margin-top: 295%;
   
}
.top .center .social-media .facebook{
    margin-top: 195%;
}
.top .center .social-media .twitter{
    margin-top: 195%;
}
.top .center .social-media .linkedin{
    margin-top: 195%;
}

.top .center .social-media i:hover{
    z-index: 1;
    transition: 1s;
    background-color:white;
    
    color: #001c48;
}
.center .text h1 span{   
    font-size: 80px;
   

}
.center .text{
  
    margin-left: 50px;
    margin-top: 200px;
    font-family: "Poppins", sans-serif;
}
.center .text h1{
    font-weight: 900;
    line-height: 160px;
    font-size: 190px;
    font-family: "Poppins", sans-serif;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
   -webkit-background-clip: text;

 
}

.title{

}
.center .text h2{
    margin-top: 50px;
    font-weight: 500;
}
/* navbar main subject */

.bar{
  
    width: 505px;
margin-top: 100px;
    display: flex;
    justify-content: space-between;
    margin-left: 50%;
    transform: translateX(-50%);
 
    
}
.bar a{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    
}
a:hover{
    color: rgb(220,220,220);

}
.hero{
    margin-top: -250px;
    width: 100%;
    display: flex;
  
}
.text2{
    margin-left: 5%;
}
.text2 h1{
    color: #001c48;
    font-size: 65px;
   
    margin-top: 20%;
    text-transform: uppercase;
}
.text2 h1 .h2{
    color: #001c48;
    font-size: 75px;
}
.approach img{
    width: 550px;

 
    position: absolute;
}
.approach h2{
    color: #001c48;
    font-size: 16px;
    font-weight: 500;
}
.text2 h1 .computer{
    -webkit-text-stroke: 1px #001c48 ;
   color: transparent;
   -webkit-background-clip: text;
    font-size: 65px;
    padding-right: 15px;
    padding-left: 15px;
}
.text2 h2{
    width: 390px;
    padding: 15px;
    text-align: justify;
}
.subtext{
    display: flex;
}
.text2 a{
    color: #001c48;
    border: 1px solid #001c48;
    padding: 10px 200px;
    border-radius: 25px;
    transition: 1s;
    
}
.call{
    margin-top: 5%;
    margin-left: 20%;
}
.text2 a:hover{
    background-color: #001c48;
    transition: 1s;
    color:#fff;
}
.subtext span{
    font-style: italic;
   color: #001c48;
   font-size: 15px;
}
.vector img{
    margin-top: 3%;
}
.quotes{
    font-size: 90px;
    
    margin-top: 10%;
    margin-left: 30%;
    width: 350px;
}
.quotes h2{
    text-align:center;
    font-size: 20px;
}
.quotes i{
    color:#001c48;

}
.ex2{
   
    padding: 10px;
    margin-top: 35%;
    margin-left: 20%;
    background-color: #001c48;
    border-radius: 25px; 
}
.ex2 h2,i{
    color: #fff;
}
.quotes .ex1, .ex2{
    display: flex;
}
.ex3{
    position: absolute;
    margin-top: 15%;
    display: flex;
    width: 600px;
    margin-left: -15%;
}
.first , .second , .third{
    width: 195px;
    text-align: center;
    padding: 15px;
}
.ex3 h2{
    text-align: center;
}
h3{
    font-size: 15px;
    color: #001c48;
    font-weight: 400;
}
.second{
    background-color: #001c48;
  border-radius: 30px;
}
.second h3{
    color: #fff;
}
.second h2{
    color: #fff;
}
.hero{
  margin-top: 40px;
    height: 100%;
    width: 100%;

}

.logo-bottom img{
    width: 100px;
    margin-top: -50px;
}
.logo-bottom .end-text{
    margin-top: 15%;
    margin-left: 100%;
    transform: translateX(-50%);
    font-size: 18px;
    width: 500px;
    display: flex;
}
.end-text i{
    color: #001c48;
}
/* html{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}
.scroll{
   scroll-snap-align: start; 

}  */

 .advantage{
    position: absolute;
    height: 100%;
    width: 100%;
  
}
.manuel, .juan , .daniel, .yann{
    transition: 1s;
    position: absolute;
}

.advantage h2{
    -webkit-text-stroke: 1px #001c48 ;
   margin-top: 10%;
    font-size: 100px;
   text-align: center;
}
.manuel{
    margin-left: 1500px;
    z-index: 1;
}
.rectangle{
    margin-left: 1450px;
}
.manuel{
    width: 500px;
    margin-left: 150px;
    margin-top: -500px;
}
.yann{
    width: 700px;
    margin-left: 1400px;
    margin-top: -700px;
}
.daniel{
    width: 400px;
    margin-top: 150px;
    margin-left: 300px;
}
.juan{
    width: 900px;
    margin-left: 1100px;
    margin-top: 50px;
}
.first-advantage h3{
    margin-left: 50%;
    transform: translateX(-50%);
    position: absolute;
    font-size: 25px;
    color: #001c48;
    width: 500px;
    text-align: center;
}
.manuel:hover ,.juan:hover,.daniel:hover, .yann:hover {
    width: 800px;
    transition: 1s;
} 


/* Our expertise  */


 .slide h1{
    font-size:75px;
    text-align: center;
    color: #001c48;
    text-transform: uppercase;
}

.four-title, .third-title, .second-title, .first-title{
    
    text-align: justify;

   
}
.objective .slide h3{
    text-align: justify;
}
.four-title h2, .third-title h2,.second-title h2,.first-title h2{
    margin-top: 150px;
    text-align: center;
}
.four-title h2, .third-title h2,.third-title h3, .second-title h2,.second-title h3, .first-title h3, .first-title h2{
    color: #001c48;
    
    width: 650px;
    margin-bottom: 15px;
    margin-left: 20%;
    
}
.second-title h2,.second-title h3, .four-title h2,.second-title h3{
    margin-left: 10%;
    background-color: #001c48;
    padding: 30px;
    border-radius: 90px;
    
}

.second-title h2,.second-title h3, .four-title h2,.four-title h3{
    color: #fff;

}
.second-title h2{
    color:#001c48;
    background-color: #fff;
}
.first-title img{
    width: 500px;
    margin-left: 150px;
}
.second-title img{
    width: 500px;
    margin-right: 150px;
 
}
.container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.third-title img{
    width: 500px;
    margin-left: 150px;
}
.four-title h3{
    color: #001c48;
    width: 650px;
    margin-bottom: 15px;
    margin-left: 15%;
}
.four-title img{
    width: 500px;
}
.third-title h3, .third-title h2{
    margin-left: -150px;
}
.first-title h2, .first-title h3{
    margin-left: -150px;
}
.slide img{
    transition: 1s;
}
.third-title h3:hover{

    
}
.slide{
    margin-top: 50px;
} 
 
.landing-page{
    margin-top: 150px;
}
.social-media-bottom i{
    font-size: 25px;
   margin-top: 10px;

    
}
.social-media-bottom{
    background-color: #001c48;
    width: 100%;
    height: 65px;
    justify-content: space-around;
  
}
.logo-social{
    justify-content: space-around;
    width: 70%;
    display: flex;
    margin-left: 50%;
    transform: translateX(-50%);
}
.social-media-bottom i:hover{
    color:#001c48;
    background-color: #fff;
}
.logo-social h2{
    font-weight: 400;
    font-size: 15px;
    margin-top: 25px;
}
.logo-social a{
    color: darkkhaki;
}
.logo-social a:hover{
    color:cornsilk ;
}
.menu{
    margin-left: 5%;
    display: flex;

}
.column1{
    width: 50%;
}
.column2 img{
    width: 30%;
}
.href i{
    color: #001c48;
}
.menu a{
    color: #001c48;
}
.download a{
    background-color: #001c48;
    color: darkkhaki;
   font-size: 17px;
    border-radius: 15px;
    padding: 15px 30px;

}
.download{
    margin-top: 35px;
    margin-bottom: 40px;
}
.column1 .contact a{
    font-size: 90px;
    
    font-weight: 600;
    -webkit-text-stroke: 1px #001c48 ;
    color: transparent;
}

.info i{
    color: #001c48;
    font-size: 20px;
    
}
.mail{
    display: flex;
}
.phone{
    display: flex;
    margin-top: 20px;
}
.phone h2, .mail h2{
    font-weight: 400;
    font-size: 20px;
    color:#001c48;
}
.column1{
    margin-top: -170px;
}
.href i{
    font-size: 25px;
    transition: 1s;
}
.href{
    margin-top: 25px;

}
.column2 img{
    margin-left: 30%;
    margin-top: -10%;
} 
.href i:hover{
    background-color: #001c48;
    color: #fff;
    transition: 1s;
}

/*  */




.need{
    display: grid;
    width: 80%;
    padding: 10%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, min-content);
    grid-gap: 20px;
  }
  .card{
    display: flex;
    flex-direction: column;
    background-color:#001c48;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding: 30px 40px;
  }
  .card__head{
    display: flex;
    align-items: center;
    color: hsl(0, 0%, 81%);
    margin-bottom: 10px;
  }
  .card__head img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #fff;
  }
  .name{
   
    font-weight: 600;
    font-size: 15px;
  }
  .title{
 
    opacity: 0.5;
  }
  .card__heading{
    color:white;
    margin-bottom: 10px;
    font-size: 20px;
  }
  .card__detail{
    color: hsl(0, 0%, 81%);
    line-height: 1.5;
    opacity: 0.7;
  }
  .card-1{
    transition: 1s;
    grid-column: 1/3;
    background-color: hsl(263, 55%, 52%);
    background-color: darkkhaki;
    background-image: url('./images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position: 80% 0;
  }
  .card-2{
    transition: 1s;
    grid-column: 3/4;
  }
  .card-3{
    transition: 1s;
    grid-row: 2/3;
    grid-column: 1/2;
    background-color: #fff;
  }
  .card-4{
    transition: 1s;
    grid-row: 2/3;
    grid-column: 2/4;
  }
  .card-5{
    transition: 1s;
    grid-row: -1/1;
    grid-column: 4/5;
    background-color: #fff;
  }
  .card-3 .card__heading,
  .card-3 .card__head,
  .card-3 .card__detail,
  .card-5 .card__heading,
  .card-5 .card__head,
  .card-5 .card__detail{
    color: #222;
  }
  @media (max-width: 1024px){
    body{
      padding: 20px;
    }
    main{
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, min-content);
      width: 95%;
      grid-gap: 15px;
    }
    .card-1{
      grid-column: 1/3;
    }
    .card-2{
      grid-column: 3/4;
    }
    .card-5{
      grid-column: 1/4;
      grid-row: 3/4;
    }
  }
  @media (max-width: 768px){
    main{
      margin-top: 20px;
      grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
      grid-template-rows: minmax(auto, auto);
    }
    .card{
      grid-column: unset !important;
      grid-row: unset !important;
    }
  }

  .card-3 .name, .card-3 .title, .card-3 .card__heading,.card-5 .name, .card-5 .title, .card-5 .card__heading{
    color: #001c48;
  }*
  .card .name{
    font-weight: 500;
  }
  .card-1 .card__detail{
    color: hsl(0, 20%, 96%);
  }
 .help h1{

    color: #001c48;
    text-align: center;
    font-size: 100px;
    margin-bottom: -100px;
   
 }